
:root {
  --color-primary: var(--md-light-primary);
  --color-on-primary: var(--md-light-on-primary);
  --color-primary-container: var(--md-light-primary-container);
  --color-on-primary-container: var(--md-light-on-primary-container);

  --color-secondary: var(--md-light-secondary);
  --color-on-secondary: var(--md-light-on-secondary);
  --color-secondary-container: var(--md-light-secondary-container);
  --color-on-secondary-container: var(--md-light-on-secondary-container);

  --color-tertiary: var(--md-light-tertiary);
  --color-on-tertiary: var(--md-light-on-tertiary);
  --color-tertiary-container: var(--md-light-tertiary-container);
  --color-on-tertiary-container: var(--md-light-on-tertiary-container);

  --color-error: var(--md-light-error);
  --color-on-error: var(--md-light-on-error);
  --color-error-container: var(--md-light-error-container);
  --color-on-error-container: var(--md-light-on-error-container);

  --color-background: var(--md-light-background);
  --color-on-background: var(--md-light-on-background);
  --color-on-background-soft: rgba(var(--md-light-on-background), 0.7);
  --color-on-background-mute: rgba(var(--md-light-on-background), 0.5);
  --color-surface: var(--md-light-surface);
  --color-on-surface: var(--md-light-on-surface);
  --color-surface-variant: var(--md-light-surface-variant);
  --color-on-surface-variant: var(--md-light-on-surface-variant);
  --color-shadow: var(--md-light-shadow);
  --color-scrim: var(--md-light-scrim);
  --color-inverse-surface: var(--md-light-inverse-surface);
  --color-inverse-on-surface: var(--md-light-inverse-on-surface);
  --color-inverse-primary: var(--md-light-inverse-primary);

  --color-border: var(--md-light-outline);
  --color-border-variant: var(--md-light-outline-variant);

  --color-custom-color1: var(--md-light-custom-color1-color);
  --color-custom-on-color1: var(--md-light-custom-color1-on-color);
  --color-custom-color1-container: var(--md-light-custom-color1-color-container);
  --color-custom-on-color1-container: var(--md-light-custom-color1-on-color-container);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: var(--md-dark-primary);
    --color-on-primary: var(--md-dark-on-primary);
    --color-primary-container: var(--md-dark-primary-container);
    --color-on-primary-container: var(--md-dark-on-primary-container);

    --color-secondary: var(--md-dark-secondary);
    --color-on-secondary: var(--md-dark-on-secondary);
    --color-secondary-container: var(--md-dark-secondary-container);
    --color-on-secondary-container: var(--md-dark-on-secondary-container);

    --color-tertiary: var(--md-dark-tertiary);
    --color-on-tertiary: var(--md-dark-on-tertiary);
    --color-tertiary-container: var(--md-dark-tertiary-container);
    --color-on-tertiary-container: var(--md-dark-on-tertiary-container);

    --color-error: var(--md-dark-error);
    --color-on-error: var(--md-dark-on-error);
    --color-error-container: var(--md-dark-error-container);
    --color-on-error-container: var(--md-dark-on-error-container);

    --color-background: var(--md-dark-background);
    --color-on-background: var(--md-dark-on-background);
    --color-on-background-soft: rgba(var(--md-dark-on-background), 0.7);
    --color-on-background-mute: rgba(var(--md-dark-on-background), 0.5);
    --color-surface: var(--md-dark-surface);
    --color-on-surface: var(--md-dark-on-surface);
    --color-surface-variant: var(--md-dark-surface-variant);
    --color-on-surface-variant: var(--md-dark-on-surface-variant);
    --color-shadow: var(--md-dark-shadow);
    --color-scrim: var(--md-dark-scrim);
    --color-inverse-surface: var(--md-dark-inverse-surface);
    --color-inverse-on-surface: var(--md-dark-inverse-on-surface);
    --color-inverse-primary: var(--md-dark-inverse-primary);

    --color-border: var(--md-dark-outline);
    --color-border-variant: var(--md-dark-outline-variant);

    --color-custom-color1: var(--md-dark-custom-color1-color);
    --color-custom-on-color1: var(--md-dark-custom-color1-on-color);
    --color-custom-color1-container: var(--md-dark-custom-color1-color-container);
    --color-custom-on-color1-container: var(--md-dark-custom-color1-on-color-container);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-on-background);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Montserrat',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
