.dark {
  --md-dark-primary: rgb(158 212 157);
  --md-dark-surface-tint: rgb(158 212 157);
  --md-dark-on-primary: rgb(4 57 18);
  --md-dark-primary-container: rgb(32 80 38);
  --md-dark-on-primary-container: rgb(185 240 183);
  --md-dark-secondary: rgb(185 204 181);
  --md-dark-on-secondary: rgb(36 52 36);
  --md-dark-secondary-container: rgb(58 75 57);
  --md-dark-on-secondary-container: rgb(212 232 208);
  --md-dark-tertiary: rgb(161 206 214);
  --md-dark-on-tertiary: rgb(0 54 60);
  --md-dark-tertiary-container: rgb(31 77 83);
  --md-dark-on-tertiary-container: rgb(188 235 242);
  --md-dark-error: rgb(255 180 171);
  --md-dark-on-error: rgb(105 0 5);
  --md-dark-error-container: rgb(147 0 10);
  --md-dark-on-error-container: rgb(255 218 214);
  --md-dark-background: rgb(16 20 16);
  --md-dark-on-background: rgb(224 228 219);
  --md-dark-surface: rgb(16 20 16);
  --md-dark-on-surface: rgb(224 228 219);
  --md-dark-surface-variant: rgb(66 73 64);
  --md-dark-on-surface-variant: rgb(194 201 189);
  --md-dark-outline: rgb(140 147 137);
  --md-dark-outline-variant: rgb(66 73 64);
  --md-dark-shadow: rgb(0 0 0);
  --md-dark-scrim: rgb(0 0 0);
  --md-dark-inverse-surface: rgb(224 228 219);
  --md-dark-inverse-on-surface: rgb(45 50 44);
  --md-dark-inverse-primary: rgb(56 105 60);
  --md-dark-primary-fixed: rgb(185 240 183);
  --md-dark-on-primary-fixed: rgb(0 33 7);
  --md-dark-primary-fixed-dim: rgb(158 212 157);
  --md-dark-on-primary-fixed-variant: rgb(32 80 38);
  --md-dark-secondary-fixed: rgb(212 232 208);
  --md-dark-on-secondary-fixed: rgb(16 31 16);
  --md-dark-secondary-fixed-dim: rgb(185 204 181);
  --md-dark-on-secondary-fixed-variant: rgb(58 75 57);
  --md-dark-tertiary-fixed: rgb(188 235 242);
  --md-dark-on-tertiary-fixed: rgb(0 31 35);
  --md-dark-tertiary-fixed-dim: rgb(161 206 214);
  --md-dark-on-tertiary-fixed-variant: rgb(31 77 83);
  --md-dark-surface-dim: rgb(16 20 16);
  --md-dark-surface-bright: rgb(54 58 52);
  --md-dark-surface-container-lowest: rgb(11 15 11);
  --md-dark-surface-container-low: rgb(24 29 24);
  --md-dark-surface-container: rgb(28 33 27);
  --md-dark-surface-container-high: rgb(39 43 38);
  --md-dark-surface-container-highest: rgb(49 54 48);
  --md-dark-custom-color1-color: rgb(207 202 116);
  --md-dark-custom-color1-on-color: rgb(52 50 0);
  --md-dark-custom-color1-color-container: rgb(76 73 0);
  --md-dark-custom-color1-on-color-container: rgb(236 230 141);
}
