.light {
  --md-light-primary: rgb(56 105 60);
  --md-light-surface-tint: rgb(56 105 60);
  --md-light-on-primary: rgb(255 255 255);
  --md-light-primary-container: rgb(185 240 183);
  --md-light-on-primary-container: rgb(32 80 38);
  --md-light-secondary: rgb(82 99 80);
  --md-light-on-secondary: rgb(255 255 255);
  --md-light-secondary-container: rgb(212 232 208);
  --md-light-on-secondary-container: rgb(58 75 57);
  --md-light-tertiary: rgb(57 101 108);
  --md-light-on-tertiary: rgb(255 255 255);
  --md-light-tertiary-container: rgb(188 235 242);
  --md-light-on-tertiary-container: rgb(31 77 83);
  --md-light-error: rgb(186 26 26);
  --md-light-on-error: rgb(255 255 255);
  --md-light-error-container: rgb(255 218 214);
  --md-light-on-error-container: rgb(147 0 10);
  --md-light-background: rgb(247 251 242);
  --md-light-on-background: rgb(24 29 24);
  --md-light-surface: rgb(247 251 242);
  --md-light-on-surface: rgb(24 29 24);
  --md-light-surface-variant: rgb(222 229 217);
  --md-light-on-surface-variant: rgb(66 73 64);
  --md-light-outline: rgb(114 121 111);
  --md-light-outline-variant: rgb(194 201 189);
  --md-light-shadow: rgb(0 0 0);
  --md-light-scrim: rgb(0 0 0);
  --md-light-inverse-surface: rgb(45 50 44);
  --md-light-inverse-on-surface: rgb(238 242 233);
  --md-light-inverse-primary: rgb(158 212 157);
  --md-light-primary-fixed: rgb(185 240 183);
  --md-light-on-primary-fixed: rgb(0 33 7);
  --md-light-primary-fixed-dim: rgb(158 212 157);
  --md-light-on-primary-fixed-variant: rgb(32 80 38);
  --md-light-secondary-fixed: rgb(212 232 208);
  --md-light-on-secondary-fixed: rgb(16 31 16);
  --md-light-secondary-fixed-dim: rgb(185 204 181);
  --md-light-on-secondary-fixed-variant: rgb(58 75 57);
  --md-light-tertiary-fixed: rgb(188 235 242);
  --md-light-on-tertiary-fixed: rgb(0 31 35);
  --md-light-tertiary-fixed-dim: rgb(161 206 214);
  --md-light-on-tertiary-fixed-variant: rgb(31 77 83);
  --md-light-surface-dim: rgb(215 219 211);
  --md-light-surface-bright: rgb(247 251 242);
  --md-light-surface-container-lowest: rgb(255 255 255);
  --md-light-surface-container-low: rgb(241 245 236);
  --md-light-surface-container: rgb(235 239 230);
  --md-light-surface-container-high: rgb(230 233 225);
  --md-light-surface-container-highest: rgb(224 228 219);
  --md-light-custom-color1-color: rgb(100 97 21);
  --md-light-custom-color1-on-color: rgb(255 255 255);
  --md-light-custom-color1-color-container: rgb(236 230 141);
  --md-light-custom-color1-on-color-container: rgb(76 73 0);
}
